In [11]:
import numpy as np 
import pandas as pd
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import seaborn as sns
import matplotlib.pyplot as plt
import random

In [12]:
Ingredient_price_stock_df = pd.read_csv("Dataset/ingredients_price_stock.csv")
egg_presence_df = pd.read_csv("Dataset/egg_presence_recipe_dataset.csv")
finalised_dataset = pd.read_csv("Dataset/finalised_dataset.csv")
merged_df = pd.read_csv("CulinaryDB/05_Merged_Ingredients.csv")

## Testing

In [3]:
finalised_dataset.shape

(45749, 7)

In [4]:
merged_df.head()

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
0,Egg,egg,0,Meat,NaN
1,Bread,bread; bun,2,Bakery,NaN
2,Rye Bread,bread-rye,3,Bakery,NaN
3,Wheaten Bread,bread-wheaten,4,Bakery,NaN
4,White Bread,bread-white; baguette,5,Bakery,NaN

In [5]:
merged_df[merged_df['Aliased Ingredient Name'].str.contains("fenugreek", case= False)]

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
254,Fenugreek,fenugreek; methi,258,Herb,NaN

In [6]:
unique_ingredients = set()
for ingredients in temp_df['Ingredients']:
    for ingredient in ingredients.split(','):
        print(ingredient)
        unique_ingredients.add(ingredient.strip())

# Remove empty strings from the set
unique_ingredients.discard('')

# Print the number of unique ingredients
print("Number of unique ingredients:", len(unique_ingredients))

NameError: name 'temp_df' is not defined

In [161]:
unique_ingredients.__contains__('sesame')

True

In [131]:
print((temp_df['Ingredients'].nunique()))
print(merged_df['Aliased Ingredient Name'].nunique())

44734
1009

### List of all the ingredients that are present in merged_df but not in temp_df

In [147]:
ingredient_price_df_ingredient_set = set(Ingredient_price_stock_df['Ingredient Name'])
capitalized_ingredients = {ingredient.title() for ingredient in ingredient_price_df_ingredient_set}
merged_ingredient_set = set(merged_df['Aliased Ingredient Name'])

difference = unique_ingredients - capitalized_ingredients
len(difference)

865

In [152]:
print(Ingredient_price_stock_df['Ingredient Name'].values)

1009

## Updating egg presence rating info

In [22]:
egg_presence_df.head()

,Recipe ID,Ingredients,Title,Cuisine,preparation_time,difficulty_level,rating,egg_present
0,1,"capsicum , pepper bell , soy sauce , sunflower",5 spice vegetable fried rice,Indian Subcontinent,17,easy,5,0
1,2,"buttermilk , cumin , fenugreek , ginger garlic...",aachar aaloo,Indian Subcontinent,19,easy,4,0
2,3,"asafoetida , cayenne , fenugreek , ginger garl...",aadu lassan keri nu athanu,Indian Subcontinent,15,easy,3,0
3,4,"butter , cardamom , cashew , cayenne , cinnamo...",aaloo kofta,Indian Subcontinent,11,easy,4,0
4,5,"curry leaf , lemon , sunflower",aaloo tamatar subzi,Indian Subcontinent,11,easy,2,0

In [34]:
mean_rating = 4
std_dev = .7
num_ratings = egg_presence_df['rating'].count()  # Count non-null ratings

# Generate new ratings
new_ratings = np.random.normal(mean_rating, std_dev, num_ratings)

# Ensure the new ratings have one decimal point and fall within the range of 1 to 5
new_ratings = np.round(new_ratings, 1)
new_ratings = np.clip(new_ratings, 1, 5)

# Update the 'rating' column in the DataFrame with the new ratings
egg_presence_df['user_rating'] = new_ratings

In [35]:
egg_presence_df.groupby('user_rating').count()

,Recipe ID,Ingredients,Title,Cuisine,preparation_time,difficulty_level,rating,egg_present
user_rating,,,,,,,,
1.2,1,1,1,1,1,1,1,1
1.3,1,1,1,1,1,1,1,1
1.4,2,2,2,2,2,2,2,2
1.5,7,7,7,7,7,7,7,7
1.6,6,6,6,6,6,6,6,6
1.7,9,9,9,9,9,9,9,9
1.8,17,17,17,17,17,17,17,17
1.9,24,24,24,24,24,24,24,24
2.0,38,38,38,38,38,38,38,38
2.1,62,62,62,62,62,62,62,62
2.2,86,86,86,86,86,86,86,86
2.3,134,134,134,134,134,134,134,134
2.4,185,185,185,185,185,185,185,185
2.5,256,256,256,256,256,256,256,256
2.6,362,362,362,362,362,362,362,362
2.7,460,460,460,460,460,460,460,460
2.8,620,620,620,620,620,620,620,620
2.9,742,742,742,742,742,742,742,742
3.0,926,926,926,926,926,926,926,926
3.1,1176,1176,1176,1176,1176,1176,1176,1176
3.2,1351,1351,1351,1351,1351,1351,1351,1351
3.3,1642,1642,1642,1642,1642,1642,1642,1642
3.4,1779,1779,1779,1779,1779,1779,1779,1779
3.5,1965,1965,1965,1965,1965,1965,1965,1965
3.6,2256,2256,2256,2256,2256,2256,2256,2256
3.7,2425,2425,2425,2425,2425,2425,2425,2425
3.8,2527,2527,2527,2527,2527,2527,2527,2527
3.9,2554,2554,2554,2554,2554,2554,2554,2554
4.0,2605,2605,2605,2605,2605,2605,2605,2605
4.1,2564,2564,2564,2564,2564,2564,2564,2564
4.2,2599,2599,2599,2599,2599,2599,2599,2599
4.3,2373,2373,2373,2373,2373,2373,2373,2373
4.4,2153,2153,2153,2153,2153,2153,2153,2153
4.5,2037,2037,2037,2037,2037,2037,2037,2037
4.6,1790,1790,1790,1790,1790,1790,1790,1790
4.7,1520,1520,1520,1520,1520,1520,1520,1520
4.8,1361,1361,1361,1361,1361,1361,1361,1361
4.9,1130,1130,1130,1130,1130,1130,1130,1130
5.0,4004,4004,4004,4004,4004,4004,4004,4004

In [36]:
egg_presence_df.to_csv("Dataset/egg_presence_recipe_dataset.csv", index= False)

## Temp Cost Db

In [13]:
Ingredient_price_stock_df.head()

  Ingredient Name  Entity ID Category  StockQuantity  Price ($)
0             Egg          0     Meat             87       18.4
1           Bread          2   Bakery              5        7.1
2       Rye Bread          3   Bakery             99        3.7
3   Wheaten Bread          4   Bakery             82        7.0
4     White Bread          5   Bakery             43        3.1

In [15]:
Ingredient_price_stock_df.groupby('Price ($)').value_counts()

Price ($)  Ingredient Name              Entity ID  Category            StockQuantity
1.0        Cooking oil                  901        Additive            13               1
           Coriander Cumin Seed Powder  2002       Spice               92               1
1.1        Adzuki bean                  455        Legume              56               1
           Clove                        331        Spice               53               1
           Liquid Smoke                 1002       Additive            1                1
                                                                                       ..
19.7       Mountain hare                733        Meat                75               1
           Pear Brandy                  19         Beverage Alcoholic  99               1
           Spirit                       487        Beverage Alcoholic  93               1
19.8       Vodka                        762        Beverage Alcoholic  89               1
20.0       Fruit gum                    807        Dish                67               1
Name: count, Length: 1009, dtype: int64

In [16]:
Ingredient_price_stock_df[Ingredient_price_stock_df['Ingredient Name'].str.contains('pepper', case=False)]

    Ingredient Name  Entity ID   Category  StockQuantity  Price ($)
334          Pepper        339      Spice             67        4.5
345      Peppermint        350       Herb             26        3.9
358   Cherry Pepper        363  Vegetable             91        5.2
394    White Pepper        399      Spice             55        1.2
951     Salt-Pepper       2022   Additive             14        4.2

In [18]:
# Ingredient_price_stock_df['Ingredient Name' == 'Wheaten Bread']
Ingredient_price_stock_df[Ingredient_price_stock_df['Ingredient Name'] == 'Pepper']['Price ($)'].values

array([4.5])

In [45]:
egg_presence_df.head()

,Recipe ID,Ingredients,Title,Cuisine,preparation_time,difficulty_level,rating,egg_present,user_rating
0,1,"capsicum , pepper bell , soy sauce , sunflower",5 spice vegetable fried rice,Indian Subcontinent,17,easy,5,0,3.3
1,2,"buttermilk , cumin , fenugreek , ginger garlic...",aachar aaloo,Indian Subcontinent,19,easy,4,0,4.1
2,3,"asafoetida , cayenne , fenugreek , ginger garl...",aadu lassan keri nu athanu,Indian Subcontinent,15,easy,3,0,5.0
3,4,"butter , cardamom , cashew , cayenne , cinnamo...",aaloo kofta,Indian Subcontinent,11,easy,4,0,4.1
4,5,"curry leaf , lemon , sunflower",aaloo tamatar subzi,Indian Subcontinent,11,easy,2,0,3.7

In [41]:
"Popularity Score"   "User Rating"   "Ingredient Cost (CAD)"

'Popularity ScoreUser RatingIngredient Cost (CAD)'

## Temp df dataset which is copying egg_presence_df

we need to update certain ingredients value, for example 'soy sauce' == 'soybean sauce' (who's price is available), similarly there's no 'pepper bell', there's price for only capsicum

In [121]:
temp_df = egg_presence_df.copy()

In [122]:
temp_df.drop(columns= ["Cuisine","preparation_time","difficulty_level","rating","egg_present"], inplace= True)

In [123]:
temp_df.head()

,Recipe ID,Ingredients,Title,user_rating
0,1,"capsicum , pepper bell , soy sauce , sunflower",5 spice vegetable fried rice,3.3
1,2,"buttermilk , cumin , fenugreek , ginger garlic...",aachar aaloo,4.1
2,3,"asafoetida , cayenne , fenugreek , ginger garl...",aadu lassan keri nu athanu,5.0
3,4,"butter , cardamom , cashew , cayenne , cinnamo...",aaloo kofta,4.1
4,5,"curry leaf , lemon , sunflower",aaloo tamatar subzi,3.7

### Updating ingredients in temp_df

In [ ]:
temp_df["Ingredients"]

### adding popularity ranking and cost of the recipe

In [48]:
def popularity_score():
    return round(random.uniform(0, 10), 1)

In [97]:
def recipe_cost(x):
    total_price = 0
    ingredients = x.split(",")
    print(ingredients)
    for i in range(len(ingredients)):
        ingredients[i] = ingredients[i].strip()
        if(ingredients[i] == 'soy sauce'):
            ingredients[i] == 'Soybean Sauce'
        print(ingredients[i].title()) 
        total_price += Ingredient_price_stock_df[Ingredient_price_stock_df['Ingredient Name'] == ingredients[i].title()]['Price ($)'].values
    print(ingredients)
    return
    temp_price = Ingredient_price_stock_df[Ingredient_price_stock_df['Ingredient Name'] == 'Yeast']['Price ($)'].values[0]

In [98]:
# temp_df["Popularity Score"] = temp_df['Ingredients'].apply(lambda x: popularity_score())
temp_df["Recipe_Cost"] = temp_df['Ingredients'].apply(lambda x: recipe_cost(x))

['capsicum ', ' pepper bell ', ' soy sauce ', ' sunflower ']
capsicum
Capsicum
pepper bell
Pepper Bell

ValueError: non-broadcastable output operand with shape (1,) doesn't match the broadcast shape (0,)

In [99]:
Ingredient_price_stock_df[Ingredient_price_stock_df['Ingredient Name'] == "Pepper Bell"]['Price ($)'].values

array([], dtype=float64)

In [95]:
# for i in Ingredient_price_stock_df:
#     print(i)
# if (Ingredient_price_stock_df['Ingredient Name'])

Ingredient_price_stock_df[Ingredient_price_stock_df['Ingredient Name'].str.contains('sauce', case=False)]

          Ingredient Name  Entity ID Category  StockQuantity  Price ($)
160           Apple Sauce        163    Fruit             81        4.8
287         Soybean Sauce        291    Plant              5        8.6
960  Worcestershite Sauce       2031     Dish             79       18.8
967          Hoisin Sauce       2039     Dish             51       16.8
968        Barbeque Sauce       2040     Dish             18       17.6
971             Hot Sauce       2043     Dish             83       16.2
982           Adobo Sauce       2054     Dish             29       20.0