In [2]:
import pandas as pd
import numpy as np

C:\Users\keera\AppData\Local\Temp\ipykernel_17292\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
data_recipe_details = pd.read_csv("CulinaryDB/01_Recipe_Details.csv")
data_ingredients = pd.read_csv("CulinaryDB/02_Ingredients.csv")
data_compound_ingredients = pd.read_csv("CulinaryDB/03_Compound_Ingredients.csv")
data_recipe_ingredients = pd.read_csv("CulinaryDB/04_Recipe-Ingredients_Aliases.csv")

In [44]:
# Updating column name 
data_compound_ingredients.rename(columns= {'entity_id': 'Entity ID'}, inplace= True)

In [25]:
italian_cuisine = data_recipe_details[data_recipe_details['Cuisine'] == 'Italy']
italian_cuisine.drop(columns= ['Source'], inplace= True)
italian_cuisine.head()

C:\Users\keera\AppData\Local\Temp\ipykernel_17292\2014076312.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italian_cuisine.drop(columns= ['Source'], inplace= True)

      Recipe ID                            Title Cuisine
9318       9319  California Italian Wedding Soup   Italy
9319       9320               Jamie's Minestrone   Italy
9320       9321           Tuscan Style Bean Soup   Italy
9321       9322          Mediterranean Fish Stew   Italy
9322       9323        Rosemary Tomato Leek Soup   Italy

In [31]:
data_recipe_merge = pd.merge(italian_cuisine, data_recipe_ingredients, on='Recipe ID')
data_recipe_merge.drop(columns= ['Original Ingredient Name', 'Aliased Ingredient Name'], inplace= True)
data_recipe_merge.head()

   Recipe ID                            Title Cuisine  Entity ID
0       9319  California Italian Wedding Soup   Italy        250
1       9319  California Italian Wedding Soup   Italy        270
2       9319  California Italian Wedding Soup   Italy         78
3       9319  California Italian Wedding Soup   Italy        272
4       9319  California Italian Wedding Soup   Italy          0

In [33]:
test = pd.merge(data_recipe_merge, data_ingredients, on='Entity ID')
test.drop(columns= ['Ingredient Synonyms', 'Category'], inplace= True)
test.head()

,Recipe ID,Title,Cuisine,Entity ID,Aliased Ingredient Name
0,9319,California Italian Wedding Soup,Italy,250,Basil
1,9319,California Italian Wedding Soup,Italy,270,Beef
2,9319,California Italian Wedding Soup,Italy,78,Parmesan Cheese
3,9319,California Italian Wedding Soup,Italy,272,Chicken
4,9319,California Italian Wedding Soup,Italy,0,Egg

In [35]:
df_encoded = pd.get_dummies(test, columns=['Aliased Ingredient Name'], prefix='Ingredient', prefix_sep='_')
df_encoded.head()

,Recipe ID,Title,Cuisine,Entity ID,Ingredient_Agave,Ingredient_Alfalfa,Ingredient_Allspice,Ingredient_Almond,Ingredient_Amaranth,Ingredient_Anise,...,Ingredient_Wild boar,Ingredient_Wild duck,Ingredient_Wild rice,Ingredient_Wine,Ingredient_Winter squash,Ingredient_Wonton wrapper,Ingredient_Yam,Ingredient_Yeast,Ingredient_Yogurt,Ingredient_Zucchini
0,9319,California Italian Wedding Soup,Italy,250,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,9319,California Italian Wedding Soup,Italy,270,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,9319,California Italian Wedding Soup,Italy,78,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,9319,California Italian Wedding Soup,Italy,272,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,9319,California Italian Wedding Soup,Italy,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [39]:
df_grouped = df_encoded.groupby(['Recipe ID', 'Title', 'Cuisine'], as_index=False).sum()
df_grouped.drop(columns= ['Entity ID', 'Cuisine'], inplace= True)
df_grouped.head()

,Recipe ID,Title,Ingredient_Agave,Ingredient_Alfalfa,Ingredient_Allspice,Ingredient_Almond,Ingredient_Amaranth,Ingredient_Anise,Ingredient_Apple,Ingredient_Apple Cider Vinegar,...,Ingredient_Wild boar,Ingredient_Wild duck,Ingredient_Wild rice,Ingredient_Wine,Ingredient_Winter squash,Ingredient_Wonton wrapper,Ingredient_Yam,Ingredient_Yeast,Ingredient_Yogurt,Ingredient_Zucchini
0,9319,California Italian Wedding Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9320,Jamie's Minestrone,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,9321,Tuscan Style Bean Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9322,Mediterranean Fish Stew,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9323,Rosemary Tomato Leek Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0