In [92]:
import pandas as pd
import random
import numpy as np

In [271]:
purchase_histroy_df = pd.read_csv("Dataset/purchase_histroy.csv")
ingredients_df = pd.read_csv("CulinaryDB/02_Ingredients.csv")
compound_ingredients_df = pd.read_csv("CulinaryDB/03_Compound_Ingredients.csv")
product_demand_df = pd.read_csv("Dataset/product_demand_df.csv")

In [272]:
purchase_histroy_df.head()

   Transaction_ID  Vendor_ID Ingredient Name  Quantity  Amount
0          198182      90176             Egg        71    1207
1          412374      92758           Bread        95     475
2          127945      64020       Rye Bread        95    1140
3          338155      70335   Wheaten Bread        66     660
4          716384      41611     White Bread        10     150

In [273]:
ingredients_df.head()

  Aliased Ingredient Name    Ingredient Synonyms  Entity ID Category
0                     Egg                    egg          0     Meat
1                   Bread             bread; bun          2   Bakery
2               Rye Bread              bread-rye          3   Bakery
3           Wheaten Bread          bread-wheaten          4   Bakery
4             White Bread  bread-white; baguette          5   Bakery

In [274]:
product_demand_df.drop(columns= ["Unnamed: 0"], inplace= True)
product_demand_df.head()

  Ingredient Name  Entity ID  Demand_Score
0             Egg          0            13
1           Bread          2            95
2       Rye Bread          3             1
3   Wheaten Bread          4            18
4     White Bread          5            57

In [276]:
product_demand_df.shape

(930, 3)

In [275]:
compound_ingredients_df.head()

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Contituent Ingredients,Category
0,Garam Masala,garam masala,2000,"black pepper, mace, cinnamon, clove, cardamom,...",Spice
1,Ginger Garlic Paste,ginger garlic paste,2001,"ginger, garlic",Spice
2,Coriander Cumin Seed Powder,coriander cumin seed powder,2002,"coriander, cumin",Spice
3,Chaat Masala,chaat masala,2003,"asafoetida, mango, black salt, cayenne, garlic...",Spice
4,Sambar Powder,sambar powder,2004,"pigeon pea, coriander, chickpea, cumin, black ...",Spice

In [184]:
mix_ingredient = pd.concat([ingredients_df, compound_ingredients_df], ignore_index=True)
mix_ingredient.head()

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
0,Egg,egg,0,Meat,NaN
1,Bread,bread; bun,2,Bakery,NaN
2,Rye Bread,bread-rye,3,Bakery,NaN
3,Wheaten Bread,bread-wheaten,4,Bakery,NaN
4,White Bread,bread-white; baguette,5,Bakery,NaN

In [185]:
mix_ingredient.to_csv("CulinaryDB/05_Merged_Ingredients.csv", index= False)

In [103]:
print(purchase_histroy_df['Ingredient Name'].nunique())
print(ingredients_df['Aliased Ingredient Name'].nunique())
print(compound_ingredients_df['Compound Ingredient Name'].nunique())
print(product_demand_df['Ingredient Name'].nunique())

1009
929
103
929

In [140]:
ingredient_list = list(ingredients_df['Aliased Ingredient Name'].unique())
ingredient_list.extend(list(compound_ingredients_df['Compound Ingredient Name'].unique()))
print(len(ingredient_list))
print(len(set(ingredient_list)))

1032
1009

In [107]:
duplicates = [item for item in set(ingredient_list) if ingredient_list.count(item) > 1]

print("Duplicated elements:", duplicates)

Duplicated elements: ['Flour', 'Cornbread', 'Frybread', 'Catfish', 'Buffalo', 'Whitefish', 'Adobo', 'Smelt', 'Apple Sauce', 'Lobster', 'Ketchup', 'Rabbit', 'Pollock', 'Crab', 'Persimmon', 'Deer', 'Tomato Puree', 'Salmon', 'Tomato Paste', 'Anchovy', 'Whiting', 'Sturgeon', 'Haddock']

In [118]:
compound_ingredients_df[compound_ingredients_df['Compound Ingredient Name'].isin(duplicates)]

,Compound Ingredient Name,Compound Ingredient Synonyms,entity_id,Contituent Ingredients,Category
37,Ketchup,ketchup,2037,"ketchup, tomato, sugar, vinegar, salt, onion, ...",Dish
56,Flour,flour; atta,2056,"flour, wheat",Cereal
62,Adobo,adobo,2062,"cayenne, garlic, cider-vinegar, salt, sugar, c...",Dish
63,Tomato Puree,tomato-puree,2063,"tomato, tomato-puree",Vegetable
64,Tomato Paste,tomato-paste,2064,"tomato, tomato-paste",Vegetable
67,Whitefish,whitefish,2067,"whitefish-broad, whitefish",Fish
72,Pollock,pollock,2072,"pollock-atlantic, pollock-alaska, pollock",Fish
73,Anchovy,anchovy,2073,"anchovy-european, anchovy",Fish
75,Frybread,fry=bread,2075,"frybread, flour, wheat",Dish
76,Sturgeon,sturgeon,2076,"sturgeon-greater, sturgeon",Fish
78,Deer,deer; elk,2078,"mule deer, deer, elk, meat",Meat
84,Cornbread,corn=bread,2084,"cornbread, corn, bread",Bakery
87,Smelt,smelt,2087,"smelt-rainbow, smelt",Fish
88,Crab,crab; crabmeat,2088,"crab, red king crab",Seafood
92,Lobster,lobster,2092,"lobster, lobster-spiny",Seafood
94,Whiting,whiting,2094,"whiting, whiting-blue",Fish
95,Buffalo,buffalo,2095,"buffalo, meat",Meat
96,Catfish,catfish,2096,"catfish-channel, catfish",Fish
97,Salmon,salmon; arctic char; cisco; salmonidae,2097,"salmon-coho, salmon-atlantic, salmon-chinook, ...",Fish
98,Rabbit,rabbit,2098,"rabbit, rabbit-european, meat",Meat
99,Haddock,haddock,2099,"haddock, haddock-norway",Fish
100,Persimmon,persimmon,2100,"persimmon,persimmon-common",Fruit
101,Apple Sauce,apple=sauce,2101,"apple sauce, apple, lemon juice, sugar",Dish

In [119]:
ingredients_df[ingredients_df['Aliased Ingredient Name'].isin(duplicates)]

    Aliased Ingredient Name Ingredient Synonyms  Entity ID   Category
132                    Crab              #crab#        135    Seafood
136                 Lobster           #lobster#        139    Seafood
153                  Salmon            #salmon#        156       Fish
160             Apple Sauce       #apple=sauce#        163      Fruit
506                 Buffalo           #buffalo#        521       Meat
551                 Haddock           #haddock#        566       Fish
650               Whitefish         #whitefish#        668       Fish
651                 Whiting           #whiting#        669       Fish
660                 Pollock           #pollock#        678       Fish
663                   Smelt             #smelt#        682       Fish
667                    Deer              #deer#        686       Meat
670                  Rabbit            #rabbit#        690       Meat
699                 Anchovy           #anchovy#        720       Fish
703                Sturgeon          #sturgeon#        724       Fish
721               Persimmon         #persimmon#        742      Fruit
732                 Catfish           #catfish#        753       Fish
806                Frybread         #fry=bread#        853       Dish
828                 Ketchup           #ketchup#        880   Additive
829                   Adobo             #adobo#        882       Dish
859                   Flour             #flour#        920     Cereal
868               Cornbread        #corn=bread#        931      Maize
914            Tomato Paste      #tomato-paste#        987  Vegetable
915            Tomato Puree      #tomato-puree#        988  Vegetable

In [126]:
product_demand_df[product_demand_df['Ingredient Name'] == "Garam Masala"]

Empty DataFrame
Columns: [Unnamed: 0, Ingredient Name, Entity ID, Demand_Score]
Index: []

In [127]:
purchase_histroy_df[purchase_histroy_df['Ingredient Name'] == "Garam Masala"]

     Unnamed: 0  Transaction_ID  Vendor_ID Ingredient Name  Quantity  Amount
930         930          112986      92758    Garam Masala        65     455

In [132]:
test = compound_ingredients_df.copy()
compound_ingredients_df.shape

(103, 5)

In [133]:
mask = test['Compound Ingredient Name'].isin(duplicates)

# Use the boolean mask to drop the rows
test.drop(test[mask].index, inplace=True)
test.shape

(80, 5)

In [136]:
test.reset_index(drop= True, inplace= True)

In [174]:
test.head()

,Compound Ingredient Name,Compound Ingredient Synonyms,entity_id,Contituent Ingredients,Category
0,Garam Masala,garam masala,2000,"black pepper, mace, cinnamon, clove, cardamom,...",Spice
1,Ginger Garlic Paste,ginger garlic paste,2001,"ginger, garlic",Spice
2,Coriander Cumin Seed Powder,coriander cumin seed powder,2002,"coriander, cumin",Spice
3,Chaat Masala,chaat masala,2003,"asafoetida, mango, black salt, cayenne, garlic...",Spice
4,Sambar Powder,sambar powder,2004,"pigeon pea, coriander, chickpea, cumin, black ...",Spice

In [175]:
test.rename(columns= {"entity_id" : "Entity ID", "Compound Ingredient Name": "Aliased Ingredient Name", "Compound Ingredient Synonyms": "Ingredient Synonyms"}, inplace= True)

In [177]:
test.to_csv("CulinaryDB/03_Compound_Ingredients.csv", index= False)

In [144]:
purchase_histroy_df[purchase_histroy_df['Ingredient Name'].isin(duplicates)]

      Unnamed: 0  Transaction_ID  Vendor_ID Ingredient Name  Quantity  Amount
132          132          638830      93234            Crab        92     552
136          136          880629      40251         Lobster        30     180
153          153          912294      17451          Salmon        13     117
160          160          562308      19160     Apple Sauce        20     340
506          506          513290      32461         Buffalo        89     534
551          551          591846      66812         Haddock        34     238
650          650          716384      41611       Whitefish        59    1003
651          651          730397        518         Whiting        93     558
660          660          686745       3339         Pollock         4      32
663          663          674747      64020           Smelt        19      19
667          667          748922      40855            Deer        29     261
670          670          510383      44589          Rabbit        47     564
699          699          975344      59886         Anchovy        81     324
703          703          648244       2888        Sturgeon        75    1050
721          721          530138      81294       Persimmon        30     540
732          732          999028      92979         Catfish        85    1700
806          806          787690       3055        Frybread        41     697
828          828          334462       3047         Ketchup        42     420
829          829          124667      91246           Adobo         1      12
859          859          479427      49809           Flour        51     714
868          868          117402      80036       Cornbread        15     195
914          914          747510       3047    Tomato Paste        91     546
915          915          898368      82099    Tomato Puree        37      37
967          967          268224       3055         Ketchup        24      72
986          986          914078      43352           Flour        34     442
992          992          569000      67299           Adobo        51     663
993          993          606607      21616    Tomato Puree        30     390
994          994          144446      41611    Tomato Paste        86     258
997          997          926917      21616       Whitefish        95    1805
1002        1002          338155      70335         Pollock        78     624
1003        1003          646943      80036         Anchovy        20     120
1005        1005          678530      31685        Frybread        67     268
1006        1006          994823      92189        Sturgeon        85     765
1008        1008          889143      30924            Deer         8      96
1014        1014          908068      81399       Cornbread        80    1040
1017        1017          161710      20756           Smelt        75     375
1018        1018          186276      47609            Crab        63     189
1022        1022          112986      92758         Lobster        48     624
1024        1024          505531      61514         Whiting        35     280
1025        1025          949382      40366         Buffalo        95    1805
1026        1026          212398      16616         Catfish        31     217
1027        1027          368857      75131          Salmon        95     665
1028        1028          422293      25330          Rabbit         2      14
1029        1029          338155      70335         Haddock        14     154
1030        1030          942406       3047       Persimmon        36     216
1031        1031          666419      36163     Apple Sauce        90     720

In [145]:
df = purchase_histroy_df.copy()

In [150]:
# Assuming your DataFrame is named df
df.drop_duplicates(subset='Ingredient Name', keep='first', inplace= True)
# df[df['Ingredient Name'].isin(duplicates)]
df.shape

(1009, 6)

In [152]:
df.drop(columns= 'Unnamed: 0', inplace= True)
df.reset_index(drop= True, inplace= True)

In [153]:
df.head()

   Transaction_ID  Vendor_ID Ingredient Name  Quantity  Amount
0          198182      90176             Egg        71    1207
1          412374      92758           Bread        95     475
2          127945      64020       Rye Bread        95    1140
3          338155      70335   Wheaten Bread        66     660
4          716384      41611     White Bread        10     150

In [225]:
mix_ingredient = pd.read_csv("CulinaryDB/05_Merged_Ingredients.csv")

In [232]:
mix_ingredient.reset_index(drop=True, inplace= True)

In [234]:
print(mix_ingredient['Aliased Ingredient Name'].nunique())
print(mix_ingredient['Entity ID'].nunique())

1009
1010

In [235]:
duplicates = mix_ingredient[mix_ingredient['Aliased Ingredient Name'].duplicated(keep=False)]
duplicates

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
764,Gelatin,gelatin,793,Additive,NaN
927,Gelatin,gelatin,1000,Additive,NaN

In [231]:
mix_ingredient[mix_ingredient['Aliased Ingredient Name'].isin(duplicates)]

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
132,Crab,#crab#,135,Seafood,NaN
136,Lobster,#lobster#,139,Seafood,NaN
153,Salmon,#salmon#,156,Fish,NaN
160,Apple Sauce,#apple=sauce#,163,Fruit,NaN
506,Buffalo,#buffalo#,521,Meat,NaN
551,Haddock,#haddock#,566,Fish,NaN
650,Whitefish,#whitefish#,668,Fish,NaN
651,Whiting,#whiting#,669,Fish,NaN
660,Pollock,#pollock#,678,Fish,NaN
663,Smelt,#smelt#,682,Fish,NaN
667,Deer,#deer#,686,Meat,NaN
670,Rabbit,#rabbit#,690,Meat,NaN
699,Anchovy,#anchovy#,720,Fish,NaN
703,Sturgeon,#sturgeon#,724,Fish,NaN
721,Persimmon,#persimmon#,742,Fruit,NaN
732,Catfish,#catfish#,753,Fish,NaN
806,Frybread,#fry=bread#,853,Dish,NaN
828,Ketchup,#ketchup#,880,Additive,NaN
829,Adobo,#adobo#,882,Dish,NaN
859,Flour,#flour#,920,Cereal,NaN
868,Cornbread,#corn=bread#,931,Maize,NaN
914,Tomato Paste,#tomato-paste#,987,Vegetable,NaN
915,Tomato Puree,#tomato-puree#,988,Vegetable,NaN

In [227]:
mix_ingredient.head()

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
0,Egg,egg,0,Meat,NaN
1,Bread,bread; bun,2,Bakery,NaN
2,Rye Bread,bread-rye,3,Bakery,NaN
3,Wheaten Bread,bread-wheaten,4,Bakery,NaN
4,White Bread,bread-white; baguette,5,Bakery,NaN

In [228]:
type(list(df['Ingredient Name'].values))

list

In [229]:
list1 = list(df['Ingredient Name'].values)
list2 = list(mix_ingredient['Aliased Ingredient Name'].values)

In [230]:
# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Find missing values in both sets
missing_in_set1 = set2 - set1
missing_in_set2 = set1 - set2

# Combine the missing values
all_missing_values = list(missing_in_set1.union(missing_in_set2))

print("Missing values in both lists:", all_missing_values)

Missing values in both lists: []

In [154]:
df.to_csv('Dataset/purchase_histroy.csv', index= False)

In [156]:
df.head()

   Transaction_ID  Vendor_ID Ingredient Name  Quantity  Amount
0          198182      90176             Egg        71    1207
1          412374      92758           Bread        95     475
2          127945      64020       Rye Bread        95    1140
3          338155      70335   Wheaten Bread        66     660
4          716384      41611     White Bread        10     150

In [187]:
mix_ingredient.head()

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
0,Egg,egg,0,Meat,NaN
1,Bread,bread; bun,2,Bakery,NaN
2,Rye Bread,bread-rye,3,Bakery,NaN
3,Wheaten Bread,bread-wheaten,4,Bakery,NaN
4,White Bread,bread-white; baguette,5,Bakery,NaN

In [189]:
print(df['Ingredient Name'].nunique())
print(ingredients_df['Aliased Ingredient Name'].nunique())
print(test['Aliased Ingredient Name'].nunique())
print(product_demand_df['Ingredient Name'].nunique())

1009
929
80
929

In [266]:
ingredients_finalised_dataset = pd.read_csv("Dataset/ingredients_finalised_dataset.csv")

In [267]:
ingredients_finalised_dataset.head()

  Ingredient Name  Entity ID Category Price  StockQuantity
0             Egg          0     Meat    $6             87
1           Bread          2   Bakery   $14              5
2       Rye Bread          3   Bakery    $7             99
3   Wheaten Bread          4   Bakery   $17             82
4     White Bread          5   Bakery   $13             43

In [268]:
ingredients_finalised_dataset[ingredients_finalised_dataset["Ingredient Name"].isin(duplicates)]

Empty DataFrame
Columns: [Ingredient Name, Entity ID, Category, Price, StockQuantity]
Index: []

In [203]:
ingredients_finalised_dataset.drop_duplicates(subset= "Ingredient Name", keep= 'first', inplace= True)

In [269]:
ingredients_finalised_dataset.shape

(1033, 5)

In [270]:
duplicates = ingredients_finalised_dataset[ingredients_finalised_dataset['Ingredient Name'].duplicated(keep=False)]
duplicates

     Ingredient Name  Entity ID   Category Price  StockQuantity
132             Crab        135    Seafood    $9             11
136          Lobster        139    Seafood    $9             32
153           Salmon        156       Fish   $10             84
160      Apple Sauce        163      Fruit   $17             81
506          Buffalo        521       Meat    $6             54
551          Haddock        566       Fish   $11             32
650        Whitefish        668       Fish   $18             63
651          Whiting        669       Fish   $18             97
660          Pollock        678       Fish   $16             59
663            Smelt        682       Fish   $20             59
667             Deer        686       Meat    $7             87
670           Rabbit        690       Meat   $11             18
699          Anchovy        720       Fish    $7             76
703         Sturgeon        724       Fish    $9             73
721        Persimmon        742      Fruit   $13             29
732          Catfish        753       Fish   $14             87
764          Gelatin        793   Additive   $19             16
806         Frybread        853       Dish    $3             36
828          Ketchup        880   Additive   $10            100
829            Adobo        882       Dish   $15             81
859            Flour        920     Cereal    $1             97
868        Cornbread        931      Maize    $5             67
914     Tomato Paste        987  Vegetable   $19             80
915     Tomato Puree        988  Vegetable   $13             46
927          Gelatin       1000   Additive   $20             28
967          Ketchup       2037       Dish   $18             77
986            Flour       2056     Cereal    $9             55
992            Adobo       2062       Dish    $7             12
993     Tomato Puree       2063  Vegetable   $14             80
994     Tomato Paste       2064  Vegetable    $1             23
997        Whitefish       2067       Fish   $15             45
1002         Pollock       2072       Fish   $12             26
1003         Anchovy       2073       Fish   $15             55
1005        Frybread       2075       Dish   $17             18
1006        Sturgeon       2076       Fish   $15             96
1008            Deer       2078       Meat   $18             99
1014       Cornbread       2084     Bakery    $5             12
1017           Smelt       2087       Fish    $1             83
1018            Crab       2088    Seafood   $17             18
1022         Lobster       2092    Seafood   $20             59
1024         Whiting       2094       Fish   $19             18
1025         Buffalo       2095       Meat    $1             12
1026         Catfish       2096       Fish    $4             29
1027          Salmon       2097       Fish    $4             86
1028          Rabbit       2098       Meat   $18             53
1029         Haddock       2099       Fish   $18             30
1030       Persimmon       2100      Fruit    $8             59
1031     Apple Sauce       2101       Dish   $13             12

In [277]:
ingredients_finalised_dataset.drop_duplicates(subset= 'Ingredient Name', keep='first', inplace=True)
ingredients_finalised_dataset.reset_index(drop= True, inplace= True)
ingredients_finalised_dataset.shape

(1009, 5)

In [278]:
ingredients_finalised_dataset.to_csv("Dataset/ingredients_finalised_dataset.csv", index= False)

In [207]:
ingredients_finalised_dataset.head()

  Ingredient Name  Entity ID Category Price  StockQuantity
0             Egg          0     Meat    $6             87
1           Bread          2   Bakery   $14              5
2       Rye Bread          3   Bakery    $7             99
3   Wheaten Bread          4   Bakery   $17             82
4     White Bread          5   Bakery   $13             43

In [206]:
mix_ingredient.head()

,Aliased Ingredient Name,Ingredient Synonyms,Entity ID,Category,Contituent Ingredients
0,Egg,egg,0,Meat,NaN
1,Bread,bread; bun,2,Bakery,NaN
2,Rye Bread,bread-rye,3,Bakery,NaN
3,Wheaten Bread,bread-wheaten,4,Bakery,NaN
4,White Bread,bread-white; baguette,5,Bakery,NaN

In [ ]:
ingredients_df = pd.read_csv("CulinaryDB/02_Ingredients.csv")
compound_ingredients_df = pd.read_csv("CulinaryDB/03_Compound_Ingredients.csv")

In [211]:
mix_ingredient.shape

(1010, 5)

In [208]:
merged_df = pd.merge(ingredients_finalised_dataset, mix_ingredient, left_on='Ingredient Name', right_on='Aliased Ingredient Name', how='left')

# Drop the duplicated 'Aliased Ingredient Name' column
merged_df.drop(columns=['Aliased Ingredient Name'], inplace=True)

# Rename the 'Entity ID_y' column to 'Entity ID'
merged_df.rename(columns={'Entity ID_y': 'Entity ID'}, inplace=True)

# Display the updated DataFrame
print(merged_df)

     Ingredient Name  Entity ID_x Category_x Price  StockQuantity  \
0                Egg            0       Meat    $6             87
1              Bread            2     Bakery   $14              5
2          Rye Bread            3     Bakery    $7             99
3      Wheaten Bread            4     Bakery   $17             82
4        White Bread            5     Bakery   $13             43
...              ...          ...        ...   ...            ...
1005     Cooking Oil         2089   Additive    $3             13
1006       Rice Cake         2090     Bakery   $19             60
1007           Trout         2091       Fish   $18             11
1008         Halibut         2093       Fish   $14             52
1009   Cider Vinegar         2102       Dish   $14             20

             Ingredient Synonyms  Entity ID Category_y  \
0                            egg          0       Meat
1                     bread; bun          2     Bakery
2                      bread-rye          3     Bakery
3                  bread-wheaten          4     Bakery
4          bread-white; baguette          5     Bakery
...                          ...        ...        ...
1005  cooking oil; vegetable oil       2089   Additive
1006                   rice-cake       2090     Bakery
1007                       trout       2091       Fish
1008                     halibut       2093       Fish
1009       soy cream; soya cream       2102       Dish

                                 Contituent Ingredients
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1005                             cooking oil, sunflower
1006  rice-cake, rice, flour, wheat, ???vegetable-oi...
1007               trout-sea, trout-lake, trout-rainbow
1008                halibut-atlantic, halibut-greenland
1009  soy cream, soy milk, cooking oil, agave, cider...

[1010 rows x 9 columns]

In [209]:
merged_df.head()

,Ingredient Name,Entity ID_x,Category_x,Price,StockQuantity,Ingredient Synonyms,Entity ID,Category_y,Contituent Ingredients
0,Egg,0,Meat,$6,87,egg,0,Meat,NaN
1,Bread,2,Bakery,$14,5,bread; bun,2,Bakery,NaN
2,Rye Bread,3,Bakery,$7,99,bread-rye,3,Bakery,NaN
3,Wheaten Bread,4,Bakery,$17,82,bread-wheaten,4,Bakery,NaN
4,White Bread,5,Bakery,$13,43,bread-white; baguette,5,Bakery,NaN

In [210]:
merged_df.shape

(1010, 9)

In [ ]:
ingredients_finalised_dataset['Entity ID'] =

In [205]:
ingredients_finalised_dataset.head()

  Ingredient Name  Entity ID Category Price  StockQuantity
0             Egg          0     Meat    $6             87
1           Bread          2   Bakery   $14              5
2       Rye Bread          3   Bakery    $7             99
3   Wheaten Bread          4   Bakery   $17             82
4     White Bread          5   Bakery   $13             43

In [191]:
product_demand_df.head()

  Ingredient Name  Entity ID  Demand_Score
0             Egg          0            13
1           Bread          2            95
2       Rye Bread          3             1
3   Wheaten Bread          4            18
4     White Bread          5            57

In [236]:
ingredients_df = pd.read_csv("CulinaryDB/02_Ingredients.csv")
compound_ingredients_df = pd.read_csv("CulinaryDB/03_Compound_Ingredients.csv")
purchase_histroy_df = pd.read_csv("Dataset/purchase_histroy.csv")
product_demand_df = pd.read_csv("Dataset/product_demand_df.csv")

In [264]:
product_demand_df.head()

   Unnamed: 0 Ingredient Name  Entity ID  Demand_Score
0           0             Egg          0            13
1           1           Bread          2            95
2           2       Rye Bread          3             1
3           3   Wheaten Bread          4            18
4           4     White Bread          5            57

In [265]:
duplicates = product_demand_df[product_demand_df['Ingredient Name'].duplicated(keep=False)]
duplicates

     Unnamed: 0 Ingredient Name  Entity ID  Demand_Score
764         764         Gelatin        793            84
927         927         Gelatin       1000            72

In [281]:
product_demand_df.shape

(930, 3)

In [280]:
ingredients_finalised_dataset.shape

(1009, 5)

In [283]:
ingredients_finalised_dataset.head()

  Ingredient Name  Entity ID Category Price  StockQuantity
0             Egg          0     Meat    $6             87
1           Bread          2   Bakery   $14              5
2       Rye Bread          3   Bakery    $7             99
3   Wheaten Bread          4   Bakery   $17             82
4     White Bread          5   Bakery   $13             43

In [282]:
product_demand_df.head()

  Ingredient Name  Entity ID  Demand_Score
0             Egg          0            13
1           Bread          2            95
2       Rye Bread          3             1
3   Wheaten Bread          4            18
4     White Bread          5            57

In [284]:
product_demand_df = ingredients_finalised_dataset[['Ingredient Name','Entity ID']]
product_demand_df['Demand Score'] = 100- ingredients_finalised_dataset['StockQuantity']
product_demand_df.shape

C:\Users\keera\AppData\Local\Temp\ipykernel_24672\55542349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_demand_df['Demand Score'] = 100- ingredients_finalised_dataset['StockQuantity']

(1009, 3)

In [285]:
product_demand_df.to_csv("Dataset/product_demand_df.csv", index= False)

In [286]:
purchase_histroy_df = pd.read_csv("Dataset/purchase_histroy.csv")
product_demand_df = pd.read_csv("Dataset/product_demand_df.csv")
vendor_toronto = pd.read_csv("Dataset/vendor_toronto.csv")

In [287]:
print(purchase_histroy_df.shape)
print(product_demand_df.shape)
print(vendor_toronto.shape)

(1009, 5)
(1009, 3)
(100, 4)

In [288]:
purchase_histroy_df.head()

   Transaction_ID  Vendor_ID Ingredient Name  Quantity  Amount
0          198182      90176             Egg        71    1207
1          412374      92758           Bread        95     475
2          127945      64020       Rye Bread        95    1140
3          338155      70335   Wheaten Bread        66     660
4          716384      41611     White Bread        10     150

In [295]:
purchase_histroy_df.shape

(1009, 5)

In [289]:
vendor_toronto.head()

,Unnamed: 0,Vendor_ID,Vendor_Name,Location
0,0,15635,Jackson LLC,Scarborough
1,1,10227,"Shepherd, Schultz and Edwards",Casa Loma
2,2,99597,Williams Inc,Bloorcourt Village
3,3,46029,Noble Group,Scarborough
4,4,1323,Lopez-Wilkinson,Art Gallery of Ontario

In [290]:
temp_1 = list(purchase_histroy_df['Vendor_ID'].values)
temp_2 = list(vendor_toronto['Vendor_ID'].values)

In [291]:
temp_1 = list(purchase_histroy_df['Vendor_ID'].values)
temp_2 = list(vendor_toronto['Vendor_ID'].values)

# Convert lists to sets
set1 = set(temp_1)
set2 = set(temp_2)

# Find missing values in both sets
missing_in_set1 = set2 - set1
missing_in_set2 = set1 - set2

# Combine the missing values
all_missing_values = list(missing_in_set1.union(missing_in_set2))

print("Missing values in both lists:", all_missing_values)

Missing values in both lists: [27651, 49155, 518, 97799, 91149, 36372, 64020, 12310, 16918, 19480, 64029, 92189, 14878, 83961, 57380, 70182, 71718, 58919, 47657, 17451, 78892, 44589, 65582, 93234, 53817, 90176, 75841, 68674, 4675, 74822, 97351, 32838, 61514, 85068, 66639, 34385, 11350, 8279, 92758, 89690, 57440, 31847, 91246, 21616, 48243, 89204, 3188, 18038, 52862, 93313, 88706, 69250, 13444, 72835, 41611, 4751, 14993, 49809, 23187, 95378, 21664, 80036, 21158, 11943, 82099, 97974, 11448, 96446, 70335, 13505, 5826, 81604, 62153, 85706, 30924, 36045, 32461, 57039, 24785, 30419, 1747, 19160, 82139, 23774, 93410, 67299, 16616, 62697, 53996, 88818, 25330, 13556, 68853, 29944, 66812, 92925, 98556, 41731, 45316, 13578, 30474, 56587, 99597, 3339, 43279, 22287, 85777, 45842, 15635, 39700, 20756, 3355, 47387, 86813, 33056, 1323, 6956, 83762, 92979, 18231, 10552, 55611, 40251, 63295, 36163, 85320, 2888, 19275, 13134, 63314, 71000, 43352, 14684, 60765, 13150, 97633, 38241, 99173, 37736, 62826, 34155, 14700, 95085, 78190, 30583, 75131, 98686, 14730, 93582, 81294, 32146, 40855, 87961, 10650, 3997, 92578, 55202, 419, 68004, 7588, 81829, 71592, 78253, 40366, 47609, 64432, 95152, 65458, 3505, 1969, 38327, 51642, 31685, 17866, 45515, 46029, 4045, 9169, 33745, 87508, 19416, 86490, 35802, 30686, 63455, 7649, 79842, 3047, 49128, 78315, 8683, 59886, 3055, 81394, 10227, 66548, 81399, 76280, 17401, 94206]

In [294]:
len(temp_1)

1009

In [298]:
purchase_histroy_OLD = pd.read_csv("Dataset/purchase_histroy_OLD.csv")
purchase_histroy_OLD.drop(columns= 'Unnamed: 0', inplace= True)

In [299]:
purchase_histroy_OLD.shape

(1033, 5)

In [301]:
purchase_histroy_OLD.head()

   Transaction_ID  Vendor_ID   Product_Name  Quantity  Amount
0           47959      90176            egg        71    1207
1          385266      92758          bread        95     475
2          751613      64020      rye bread        95    1140
3          338644      70335  wheaten bread        66     660
4          190387      41611    white bread        10     150

In [302]:
temp_1 = list(purchase_histroy_OLD['Vendor_ID'].values)
temp_2 = list(vendor_toronto['Vendor_ID'].values)

# Convert lists to sets
set1 = set(temp_1)
set2 = set(temp_2)

# Find missing values in both sets
missing_in_set1 = set2 - set1
missing_in_set2 = set1 - set2

# Combine the missing values
all_missing_values = list(missing_in_set1.union(missing_in_set2))

print("Missing values in both lists:", all_missing_values)

Missing values in both lists: [27651, 49155, 518, 97799, 91149, 36372, 64020, 12310, 16918, 19480, 64029, 92189, 14878, 83961, 57380, 70182, 71718, 58919, 47657, 17451, 78892, 44589, 65582, 93234, 53817, 90176, 75841, 68674, 4675, 74822, 97351, 32838, 61514, 85068, 66639, 34385, 11350, 8279, 92758, 89690, 57440, 31847, 91246, 21616, 48243, 89204, 3188, 18038, 52862, 93313, 88706, 69250, 13444, 72835, 41611, 4751, 14993, 49809, 23187, 95378, 21664, 80036, 21158, 11943, 82099, 97974, 11448, 96446, 70335, 13505, 5826, 81604, 62153, 85706, 30924, 36045, 32461, 57039, 24785, 30419, 1747, 19160, 82139, 23774, 93410, 67299, 16616, 62697, 53996, 88818, 25330, 13556, 68853, 29944, 66812, 92925, 98556, 41731, 45316, 13578, 30474, 56587, 99597, 3339, 43279, 22287, 85777, 45842, 15635, 39700, 20756, 3355, 47387, 86813, 33056, 1323, 6956, 83762, 92979, 18231, 10552, 55611, 40251, 63295, 36163, 85320, 2888, 19275, 13134, 63314, 71000, 43352, 14684, 60765, 13150, 97633, 38241, 99173, 37736, 62826, 34155, 14700, 95085, 78190, 30583, 75131, 98686, 14730, 93582, 81294, 32146, 40855, 87961, 10650, 3997, 92578, 55202, 419, 68004, 7588, 81829, 71592, 78253, 40366, 47609, 64432, 95152, 65458, 3505, 1969, 38327, 51642, 31685, 17866, 45515, 46029, 4045, 9169, 33745, 87508, 19416, 86490, 35802, 30686, 63455, 7649, 79842, 3047, 49128, 78315, 8683, 59886, 3055, 81394, 10227, 66548, 81399, 76280, 17401, 94206]

In [303]:
vendor_toronto['Vendor_ID'].nunique()

100

In [304]:
purchase_histroy_OLD['Vendor_ID'].nunique()

100

In [312]:
purchase_histroy_df['Vendor_ID'].nunique()

100

In [308]:
vendor_toronto.head()

,Unnamed: 0,Vendor_ID,Vendor_Name,Location
0,0,15635,Jackson LLC,Scarborough
1,1,10227,"Shepherd, Schultz and Edwards",Casa Loma
2,2,99597,Williams Inc,Bloorcourt Village
3,3,46029,Noble Group,Scarborough
4,4,1323,Lopez-Wilkinson,Art Gallery of Ontario

In [309]:
test = vendor_toronto.copy()

In [310]:
test.drop(columns= 'Unnamed: 0', inplace= True)

In [311]:
test.head()

   Vendor_ID                    Vendor_Name                Location
0      15635                    Jackson LLC             Scarborough
1      10227  Shepherd, Schultz and Edwards               Casa Loma
2      99597                   Williams Inc      Bloorcourt Village
3      46029                    Noble Group             Scarborough
4       1323                Lopez-Wilkinson  Art Gallery of Ontario

In [314]:
test['Vendor_ID'].unique()

array([15635, 10227, 99597, 46029,  1323, 88706, 11350, 62153, 70182,
       85320, 33056, 45316, 98686, 69250, 92578,  7649, 97633, 19416,
       96446, 95085, 71592, 48243, 78315, 24785, 71000, 62697, 86490,
       41731, 66548, 89204, 36372, 99173, 52862,  3355,  8279, 49155,
       74822, 43279, 13505, 62826, 87508, 29944, 68674, 65458, 30419,
       13444, 82139, 38327, 85777, 36045, 13134, 55611, 19275,  8683,
       14993, 21664, 19480,  1747, 35802, 92925, 51642, 53996, 57039,
       72835, 65582, 38241, 37736, 18231, 93582, 71718,  9169, 31847,
       68853, 58919, 76280, 64432, 66639, 97351, 93313, 13150, 32146,
       85068, 78892, 34155, 11448, 27651, 45842, 23187, 17401, 57440,
       75841, 39700, 11943, 14730, 63314, 63295, 78190, 14700, 34385,
       45515], dtype=int64)

In [313]:
purchase_histroy_df.groupby('Vendor_ID').count()

           Transaction_ID  Ingredient Name  Quantity  Amount
Vendor_ID
419                     9                9         9       9
518                     9                9         9       9
1969                    8                8         8       8
2888                   13               13        13      13
3047                   12               12        12      12
...                   ...              ...       ...     ...
95152                  10               10        10      10
95378                  13               13        13      13
97799                  10               10        10      10
97974                  10               10        10      10
98556                  12               12        12      12

[100 rows x 4 columns]

In [316]:
purchase_histroy_df['Vendor_ID'].unique()

array([90176, 92758, 64020, 70335, 41611,  3505, 81394, 75131, 13578,
       14878,  5826, 23774, 43352, 82099, 81399, 17451, 60765, 49128,
       32461, 30686, 95152, 91149, 92189,   419, 83762, 97799, 12310,
       66812, 88818, 59886,  1969, 21158, 30583,  4675, 85706, 44589,
       81294, 47657, 40855, 68004,  3997, 93410, 91246, 55202, 30474,
       20756, 98556, 86813,  4045, 21616, 16918, 97974, 83961, 36163,
       16616, 49809, 14684,  6956, 57380, 95378, 47609, 92979, 13556,
       10552, 10650, 64029, 89690, 47387,  3188, 80036,  2888, 78253,
       93234, 40366,  4751, 40251, 87961, 79842, 63455, 19160, 56587,
        7588, 18038,  3339, 31685, 22287, 17866, 81604, 94206, 81829,
        3055, 53817, 67299, 25330,   518,  3047, 32838, 61514, 30924,
       33745], dtype=int64)

In [317]:
test['Vendor_ID'] = purchase_histroy_df['Vendor_ID'].unique()

0     90176
1     92758
2     64020
3     70335
4     41611
      ...
95     3047
96    32838
97    61514
98    30924
99    33745
Name: Vendor_ID, Length: 100, dtype: int64

In [319]:
temp_1 = list(purchase_histroy_df['Vendor_ID'].values)
temp_2 = list(test['Vendor_ID'].values)

# Convert lists to sets
set1 = set(temp_1)
set2 = set(temp_2)

# Find missing values in both sets
missing_in_set1 = set2 - set1
missing_in_set2 = set1 - set2

# Combine the missing values
all_missing_values = list(missing_in_set1.union(missing_in_set2))

print("Missing values in both lists:", all_missing_values)

Missing values in both lists: []

In [320]:
test.to_csv("Dataset/vendor_toronto.csv", index= False)