In [1]:
import pandas as pd
import numpy as np

In [8]:
db = pd.read_csv("week_1_df_v2.csv")

In [9]:
db.head()

,Recipe ID,Title,Allspice,Almond,Anise,Apple,Apple Cider Vinegar,Apricot,Artichoke,Asparagus,...,White Pepper,White Wine,Wholewheat Bread,Wild duck,Wine,Winter squash,Wonton wrapper,Yeast,Yogurt,Zucchini
0,9319,California Italian Wedding Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9320,Jamie's Minestrone,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,9321,Tuscan Style Bean Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9322,Mediterranean Fish Stew,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9323,Rosemary Tomato Leek Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
db.shape

(6163, 227)

In [19]:
import numpy as np

# Set the parameters
average_rating = 4
std_deviation = 1.5
max_rating = 5

# Set the number of ratings you want to generate
num_ratings = 6163  # You can change this number as needed

# Generate the rating column
ratings = np.random.normal(loc=average_rating, scale=std_deviation, size=num_ratings)

# Clip the ratings to ensure they are within the desired range (0 to max_rating)
ratings = np.clip(ratings, 0, max_rating)

# Round the ratings to one decimal place
ratings = np.round(ratings, decimals=1)

# Display the generated ratings
print("Generated Ratings:", ratings)

Generated Ratings: [4.2 2.3 4.7 ... 2.5 3.2 5. ]

In [20]:
db['Ratings'] = ratings

In [21]:
db.head()

,Recipe ID,Title,Allspice,Almond,Anise,Apple,Apple Cider Vinegar,Apricot,Artichoke,Asparagus,...,White Wine,Wholewheat Bread,Wild duck,Wine,Winter squash,Wonton wrapper,Yeast,Yogurt,Zucchini,Ratings
0,9319,California Italian Wedding Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.2
1,9320,Jamie's Minestrone,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.3
2,9321,Tuscan Style Bean Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.7
3,9322,Mediterranean Fish Stew,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.7
4,9323,Rosemary Tomato Leek Soup,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.5